body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  justify-content: center;
  height: 100%;
  
  padding-top: 60px;
  padding-left: 3rem;
  padding-right: 3rem;
  background: rgb(63,119,251);
background: radial-gradient(circle, rgba(63,119,251,1) 0%, rgba(56,217,245,1) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
